<footer class="footer">
    <div class="container">
        <div class="footer__container dfrc">
            <span>© {{ "now"|date("Y") }} WPTask</span>
        </div>
    </div>
</footer>

<section class="modals">
    {% include "modals/thanks.twig" %}
</section>

{{ function('wp_footer') }}
{% if footer_code is not empty %}
    {{ footer_code }}
{% endif %}

</body>
</html>
