<div class="modal modal--review" data-modal-type="edit" hidden>
    <div class="modal__content">
        <div class="modal__box modal__box--review">
            <button class="modal__close modal__close--fixed">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M7.06127 6.00013L11.7801 1.28108C12.0733 0.988138 12.0733 0.512831 11.7801 0.219892C11.4869 -0.0732973 11.0122 -0.0732973 10.719 0.219892L6.00012 4.93894L1.28102 0.219892C0.987847 -0.0732973 0.51306 -0.0732973 0.219883 0.219892C-0.0732943 0.512831 -0.0732943 0.988138 0.219883 1.28108L4.93898 6.00013L0.219883 10.7192C-0.0732943 11.0121 -0.0732943 11.4874 0.219883 11.7804C0.366471 11.9267 0.558587 12 0.750453 12C0.942319 12 1.13444 11.9267 1.28102 11.7801L6.00012 7.06106L10.719 11.7801C10.8656 11.9267 11.0577 12 11.2495 12C11.4414 12 11.6335 11.9267 11.7801 11.7801C12.0733 11.4872 12.0733 11.0119 11.7801 10.7189L7.06127 6.00013Z" fill="#868695"/>
                </svg>
            </button>
            <form @submit.prevent="update" class="review-form review__container">
                <input type="hidden" name="id" x-ref="edit_id">

                <div class="review__title">Редактировать задачу</div>
                <div class="review__blocks">
                    <div class="review__inputs">
                        <div class="input input-text input-text--review">
                            <label>
                                <input type="text" name="title" value="" x-ref="edit_title" placeholder="Название задачи">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"
                                     fill="none">
                                    <circle cx="3" cy="3" r="3" fill="#868695"/>
                                </svg>
                            </label>
                        </div>
                        <div class="input input-text input-text--review">
                            <label>
                                <input type="date" name="target_date" value="" x-ref="edit_target" placeholder="Деадлайн">
                            </label>
                        </div>
                        <div class="input input-text input-text--review">
                            <label>
                                    <textarea type="text" name="text" value="" x-ref="edit_text"
                                              placeholder="Текст задачи"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="review__footer">
                    <button type="submit" class="btn btn--fill btn--l review__btn">
                        Редактировать задачу
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>