<div class="modal modal--review" data-modal-type="review" hidden>
    <div class="modal__content">
        <div class="modal__box modal__box--review">
            <button class="modal__close modal__close--fixed">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M7.06127 6.00013L11.7801 1.28108C12.0733 0.988138 12.0733 0.512831 11.7801 0.219892C11.4869 -0.0732973 11.0122 -0.0732973 10.719 0.219892L6.00012 4.93894L1.28102 0.219892C0.987847 -0.0732973 0.51306 -0.0732973 0.219883 0.219892C-0.0732943 0.512831 -0.0732943 0.988138 0.219883 1.28108L4.93898 6.00013L0.219883 10.7192C-0.0732943 11.0121 -0.0732943 11.4874 0.219883 11.7804C0.366471 11.9267 0.558587 12 0.750453 12C0.942319 12 1.13444 11.9267 1.28102 11.7801L6.00012 7.06106L10.719 11.7801C10.8656 11.9267 11.0577 12 11.2495 12C11.4414 12 11.6335 11.9267 11.7801 11.7801C12.0733 11.4872 12.0733 11.0119 11.7801 10.7189L7.06127 6.00013Z" fill="#868695"/>
                </svg>
            </button>
            <form class="review-form review__container">
                <div class="review__title">Оставить отзыв</div>
                <div class="review__blocks">
                    <div class="review__inputs">
                        <div class="input input-text input-text--review">
                            <label>
                                <input type="text" name="name" value="" placeholder="Имя и Фамилия">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"
                                     fill="none">
                                    <circle cx="3" cy="3" r="3" fill="#868695"/>
                                </svg>
                            </label>
                        </div>
                        <div class="input input-text input-text--review">
                            <label>
                                <input type="tel" name="phone" value="" placeholder="Телефон">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6"
                                     fill="none">
                                    <circle cx="3" cy="3" r="3" fill="#868695"/>
                                </svg>
                            </label>
                        </div>
                        <div class="input input-text input-text--review">
                            <label>
                                <input type="email" name="email" value="" placeholder="E-mail">
                            </label>
                        </div>
                        <div class="input input-text input-text--review">
                            <label>
                                    <textarea type="text" name="review" value=""
                                              placeholder="Ваш отзыв"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="review__rating">
                        <div class="input-rating input-required">
                            <input type="hidden" value="5" name="rating">
                            <span>Ваша оценка</span>
                            <div class="input-rating-stars">
                                <button type="button" data-grade="1" class="input-rating-star active">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
                                        <path d="M15.4291 5.69396L10.7084 5.00796L8.59978 0.73329C8.53848 0.629195 8.45106 0.542906 8.34618 0.482956C8.2413 0.423006 8.12259 0.391472 8.00178 0.391472C7.88098 0.391472 7.76226 0.423006 7.65738 0.482956C7.5525 0.542906 7.46509 0.629195 7.40378 0.73329L5.29112 5.00796L0.570449 5.69396C0.447343 5.71173 0.331663 5.76358 0.236487 5.84366C0.141311 5.92374 0.0704351 6.02884 0.0318726 6.1471C-0.00668978 6.26535 -0.011401 6.39204 0.0182717 6.51283C0.0479443 6.63362 0.110817 6.7437 0.199783 6.83062L3.61645 10.16L2.81045 14.862C2.78944 14.9846 2.80316 15.1106 2.85004 15.2258C2.89692 15.341 2.9751 15.4408 3.07574 15.5139C3.17637 15.587 3.29546 15.6305 3.41952 15.6395C3.54359 15.6484 3.66768 15.6225 3.77778 15.5646L7.99978 13.3453L12.2218 15.5646C12.3319 15.6225 12.456 15.6484 12.58 15.6395C12.7041 15.6305 12.8232 15.587 12.9238 15.5139C13.0245 15.4408 13.1026 15.341 13.1495 15.2258C13.1964 15.1106 13.2101 14.9846 13.1891 14.862L12.3831 10.16L15.7998 6.83062C15.8887 6.74379 15.9516 6.63381 15.9814 6.51312C16.0111 6.39242 16.0065 6.26582 15.9681 6.1476C15.9297 6.02938 15.859 5.92426 15.764 5.8441C15.669 5.76394 15.5534 5.71193 15.4304 5.69396H15.4291Z"
                                              fill="#BBBBCA"/>
                                    </svg>
                                </button>
                                <button type="button" data-grade="2" class="input-rating-star active">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
                                        <path d="M15.4291 5.69396L10.7084 5.00796L8.59978 0.73329C8.53848 0.629195 8.45106 0.542906 8.34618 0.482956C8.2413 0.423006 8.12259 0.391472 8.00178 0.391472C7.88098 0.391472 7.76226 0.423006 7.65738 0.482956C7.5525 0.542906 7.46509 0.629195 7.40378 0.73329L5.29112 5.00796L0.570449 5.69396C0.447343 5.71173 0.331663 5.76358 0.236487 5.84366C0.141311 5.92374 0.0704351 6.02884 0.0318726 6.1471C-0.00668978 6.26535 -0.011401 6.39204 0.0182717 6.51283C0.0479443 6.63362 0.110817 6.7437 0.199783 6.83062L3.61645 10.16L2.81045 14.862C2.78944 14.9846 2.80316 15.1106 2.85004 15.2258C2.89692 15.341 2.9751 15.4408 3.07574 15.5139C3.17637 15.587 3.29546 15.6305 3.41952 15.6395C3.54359 15.6484 3.66768 15.6225 3.77778 15.5646L7.99978 13.3453L12.2218 15.5646C12.3319 15.6225 12.456 15.6484 12.58 15.6395C12.7041 15.6305 12.8232 15.587 12.9238 15.5139C13.0245 15.4408 13.1026 15.341 13.1495 15.2258C13.1964 15.1106 13.2101 14.9846 13.1891 14.862L12.3831 10.16L15.7998 6.83062C15.8887 6.74379 15.9516 6.63381 15.9814 6.51312C16.0111 6.39242 16.0065 6.26582 15.9681 6.1476C15.9297 6.02938 15.859 5.92426 15.764 5.8441C15.669 5.76394 15.5534 5.71193 15.4304 5.69396H15.4291Z"
                                              fill="#BBBBCA"/>
                                    </svg>
                                </button>
                                <button type="button" data-grade="3" class="input-rating-star active">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
                                        <path d="M15.4291 5.69396L10.7084 5.00796L8.59978 0.73329C8.53848 0.629195 8.45106 0.542906 8.34618 0.482956C8.2413 0.423006 8.12259 0.391472 8.00178 0.391472C7.88098 0.391472 7.76226 0.423006 7.65738 0.482956C7.5525 0.542906 7.46509 0.629195 7.40378 0.73329L5.29112 5.00796L0.570449 5.69396C0.447343 5.71173 0.331663 5.76358 0.236487 5.84366C0.141311 5.92374 0.0704351 6.02884 0.0318726 6.1471C-0.00668978 6.26535 -0.011401 6.39204 0.0182717 6.51283C0.0479443 6.63362 0.110817 6.7437 0.199783 6.83062L3.61645 10.16L2.81045 14.862C2.78944 14.9846 2.80316 15.1106 2.85004 15.2258C2.89692 15.341 2.9751 15.4408 3.07574 15.5139C3.17637 15.587 3.29546 15.6305 3.41952 15.6395C3.54359 15.6484 3.66768 15.6225 3.77778 15.5646L7.99978 13.3453L12.2218 15.5646C12.3319 15.6225 12.456 15.6484 12.58 15.6395C12.7041 15.6305 12.8232 15.587 12.9238 15.5139C13.0245 15.4408 13.1026 15.341 13.1495 15.2258C13.1964 15.1106 13.2101 14.9846 13.1891 14.862L12.3831 10.16L15.7998 6.83062C15.8887 6.74379 15.9516 6.63381 15.9814 6.51312C16.0111 6.39242 16.0065 6.26582 15.9681 6.1476C15.9297 6.02938 15.859 5.92426 15.764 5.8441C15.669 5.76394 15.5534 5.71193 15.4304 5.69396H15.4291Z"
                                              fill="#BBBBCA"/>
                                    </svg>
                                </button>
                                <button type="button" data-grade="4" class="input-rating-star active">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
                                        <path d="M15.4291 5.69396L10.7084 5.00796L8.59978 0.73329C8.53848 0.629195 8.45106 0.542906 8.34618 0.482956C8.2413 0.423006 8.12259 0.391472 8.00178 0.391472C7.88098 0.391472 7.76226 0.423006 7.65738 0.482956C7.5525 0.542906 7.46509 0.629195 7.40378 0.73329L5.29112 5.00796L0.570449 5.69396C0.447343 5.71173 0.331663 5.76358 0.236487 5.84366C0.141311 5.92374 0.0704351 6.02884 0.0318726 6.1471C-0.00668978 6.26535 -0.011401 6.39204 0.0182717 6.51283C0.0479443 6.63362 0.110817 6.7437 0.199783 6.83062L3.61645 10.16L2.81045 14.862C2.78944 14.9846 2.80316 15.1106 2.85004 15.2258C2.89692 15.341 2.9751 15.4408 3.07574 15.5139C3.17637 15.587 3.29546 15.6305 3.41952 15.6395C3.54359 15.6484 3.66768 15.6225 3.77778 15.5646L7.99978 13.3453L12.2218 15.5646C12.3319 15.6225 12.456 15.6484 12.58 15.6395C12.7041 15.6305 12.8232 15.587 12.9238 15.5139C13.0245 15.4408 13.1026 15.341 13.1495 15.2258C13.1964 15.1106 13.2101 14.9846 13.1891 14.862L12.3831 10.16L15.7998 6.83062C15.8887 6.74379 15.9516 6.63381 15.9814 6.51312C16.0111 6.39242 16.0065 6.26582 15.9681 6.1476C15.9297 6.02938 15.859 5.92426 15.764 5.8441C15.669 5.76394 15.5534 5.71193 15.4304 5.69396H15.4291Z"
                                              fill="#BBBBCA"/>
                                    </svg>
                                </button>
                                <button type="button" data-grade="5" class="input-rating-star active">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
                                        <path d="M15.4291 5.69396L10.7084 5.00796L8.59978 0.73329C8.53848 0.629195 8.45106 0.542906 8.34618 0.482956C8.2413 0.423006 8.12259 0.391472 8.00178 0.391472C7.88098 0.391472 7.76226 0.423006 7.65738 0.482956C7.5525 0.542906 7.46509 0.629195 7.40378 0.73329L5.29112 5.00796L0.570449 5.69396C0.447343 5.71173 0.331663 5.76358 0.236487 5.84366C0.141311 5.92374 0.0704351 6.02884 0.0318726 6.1471C-0.00668978 6.26535 -0.011401 6.39204 0.0182717 6.51283C0.0479443 6.63362 0.110817 6.7437 0.199783 6.83062L3.61645 10.16L2.81045 14.862C2.78944 14.9846 2.80316 15.1106 2.85004 15.2258C2.89692 15.341 2.9751 15.4408 3.07574 15.5139C3.17637 15.587 3.29546 15.6305 3.41952 15.6395C3.54359 15.6484 3.66768 15.6225 3.77778 15.5646L7.99978 13.3453L12.2218 15.5646C12.3319 15.6225 12.456 15.6484 12.58 15.6395C12.7041 15.6305 12.8232 15.587 12.9238 15.5139C13.0245 15.4408 13.1026 15.341 13.1495 15.2258C13.1964 15.1106 13.2101 14.9846 13.1891 14.862L12.3831 10.16L15.7998 6.83062C15.8887 6.74379 15.9516 6.63381 15.9814 6.51312C16.0111 6.39242 16.0065 6.26582 15.9681 6.1476C15.9297 6.02938 15.859 5.92426 15.764 5.8441C15.669 5.76394 15.5534 5.71193 15.4304 5.69396H15.4291Z"
                                              fill="#BBBBCA"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review__footer">
                    <button type="submit" class="btn btn--fill btn--l review__btn">Оставить
                        отзыв
                    </button>
                    <div class="checkout__policy">
                        <div class="checkbox">
                            <input type="checkbox" id="term-4055402" name="term" checked="" hidden="">
                            <label for="term-4055402"></label>
                        </div>
                        <p>Даю согласие на <a href="/privacy-policy" target="_blank"><span>обработку персональных данных</span></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>