<div class="modal" data-modal-type="thanks-review" hidden>
    <div class="modal__content">
        <div class="modal__box modal__box--thanks-review">
            <button class="modal__close modal__close--fixed">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M7.06127 6.00013L11.7801 1.28108C12.0733 0.988138 12.0733 0.512831 11.7801 0.219892C11.4869 -0.0732973 11.0122 -0.0732973 10.719 0.219892L6.00012 4.93894L1.28102 0.219892C0.987847 -0.0732973 0.51306 -0.0732973 0.219883 0.219892C-0.0732943 0.512831 -0.0732943 0.988138 0.219883 1.28108L4.93898 6.00013L0.219883 10.7192C-0.0732943 11.0121 -0.0732943 11.4874 0.219883 11.7804C0.366471 11.9267 0.558587 12 0.750453 12C0.942319 12 1.13444 11.9267 1.28102 11.7801L6.00012 7.06106L10.719 11.7801C10.8656 11.9267 11.0577 12 11.2495 12C11.4414 12 11.6335 11.9267 11.7801 11.7801C12.0733 11.4872 12.0733 11.0119 11.7801 10.7189L7.06127 6.00013Z" fill="#868695"/>
                </svg>
            </button>
            <div class="modal__container modal__container--thanks-review">
                <div class="modal__icon modal__icon--thanks-review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="32" viewBox="0 0 42 32" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.0255 1.5255L14 23.551L5.97446 15.5255C4.60114 14.1991 2.41816 14.2181 1.0681 15.5681C-0.281973 16.9182 -0.300942 19.1012 1.02546 20.4745L11.5255 30.9745C12.8922 32.3408 15.1077 32.3408 16.4745 30.9745L40.9745 6.4745C42.3009 5.10117 42.2819 2.9182 40.9318 1.56813C39.5818 0.218066 37.3988 0.199096 36.0255 1.5255Z" fill="#42184D"/>
                    </svg>
                </div>
                <div class="modal__title modal-thanks__title">
                    Спасибо за Ваш отзыв
                </div>
                <div class="modal__subtitle modal__subtitle--thanks-review">
                    После модерации отзыв будет опубликован <br>на сайте
                </div>
                <button class="btn btn--fill btn--l modal__close modal__close--thanks-review">Закрыть</button>
            </div>
        </div>
    </div>
</div>