<section class="page-404">
    <div class="container">
        <div class="page-404__container dfcc">
            <div class="page-404__subtitle title title_h5_alt color-contrast">Ошибка</div>
            <div class="page-404__title color-contrast">404</div>
            <div class="page-404__text control-m color-contrast-caption">
                Извините! Страница, которую Вы ищете не может быть найдена. Скорее всего, страница переехала или была удалена.
            </div>
            <a href="/">
                <div class="page-404__btn btn btn--fill color-contrast">На главную</div>
            </a>
        </div>
    </div>
</section>