<section class="main-screen">
    <div class="container">
        <div class="main-screen__container">
            <div class="main-screen__content">
                <div class="main-screen__title">
                    Витамины <br class="br--pc"><br class="br--mobile">на все случаи жизни
                </div>
                <div class="main-screen__subtitle">
                    Современные компоненты премиального качества для вашей красоты и здоровья
                </div>
                <div class="btn btn--fill btn--l main-screen__btn">Выбрать комплекс</div>
            </div>
            <div class="main-screen__label">
                <img src="{{ assets }}/images/label.svg" alt="main_label">
            </div>
            <div class="main-screen__bg">
                <picture>
                    <source media="(max-width: 768px)"
                            srcset="{{ assets }}/images/main-mobile.webp">
                    <source srcset="{{ assets }}/images/main.webp">
                    <img src="{{ assets }}/images/main.png" alt="main_bg">
                </picture>
            </div>
        </div>
    </div>
</section>
