<section class="reviews" id="reviews">
    <div class="container">
        <div class="reviews__container">
            <h2 class="reviews__title">Отзывы</h2>
            <div class="reviews__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% if comments is not empty %}
                            {% for comment in comments %}
                                {% if comment.is_approved == 1 %}
                                    <div class="reviews__slide">
                                        <div class="reviews__stars">
                                            {% for i in 1..5 %}
                                                <div type="button" data-grade="1" class="input-rating-star {{ i <= comment.rating ? 'active' : '' }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                        <path d="M15.3574 6.18876L15.3661 6.19002C15.394 6.19545 15.42 6.20789 15.4417 6.22624L15.7642 5.8441L15.4417 6.22624C15.4655 6.24628 15.4832 6.27256 15.4928 6.30211C15.5024 6.33167 15.5035 6.36332 15.4961 6.39349L15.9816 6.51312L15.4961 6.39349C15.4887 6.42356 15.473 6.45096 15.4509 6.47263C15.4509 6.47271 15.4508 6.47279 15.4507 6.47287L12.0344 9.80186L11.8461 9.98532L11.8905 10.2444L12.6965 14.9464C12.7018 14.977 12.6983 15.0086 12.6866 15.0374C12.6749 15.0662 12.6554 15.0911 12.6302 15.1094C12.605 15.1277 12.5753 15.1385 12.5442 15.1408C12.5132 15.143 12.4822 15.1365 12.4547 15.1221L12.4546 15.122L8.23264 12.9027L8 12.7804L7.76735 12.9027L3.54535 15.122L3.54531 15.1221C3.51779 15.1365 3.48677 15.143 3.45575 15.1408C3.42473 15.1385 3.39496 15.1277 3.3698 15.1094C3.34464 15.0911 3.3251 15.0662 3.31338 15.0374C3.30166 15.0086 3.29823 14.9771 3.30348 14.9464C3.30348 14.9464 3.30348 14.9464 3.30348 14.9464L4.10948 10.2444L4.15389 9.98532L3.96561 9.80186L0.549426 6.47299C0.549368 6.47294 0.549309 6.47288 0.549251 6.47282C0.527103 6.45112 0.511448 6.42366 0.504049 6.39355C0.496631 6.36335 0.497809 6.33168 0.507449 6.30211C0.51709 6.27255 0.534809 6.24627 0.558602 6.22625L0.238549 5.84586L0.558603 6.22625C0.582397 6.20623 0.611316 6.19327 0.642093 6.18883L0.642567 6.18876L5.36323 5.50276L5.62319 5.46498L5.73957 5.22949L7.84162 0.976316C7.85817 0.951991 7.88008 0.931702 7.90572 0.917045C7.93504 0.900287 7.96823 0.891472 8.002 0.891472C8.03577 0.891472 8.06895 0.900287 8.09827 0.917045L8.34554 0.484459L8.09827 0.917046C8.12387 0.93168 8.14575 0.95193 8.1623 0.976208L10.2603 5.22915L10.3766 5.46495L10.6368 5.50276L15.3574 6.18876ZM5.29133 5.00796L0.570663 5.69396L5.29133 5.00796Z" stroke="#E4A075"/>
                                                    </svg>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="reviews__text">
                                            {{ comment.text }}
                                        </div>
                                        <div class="reviews__line">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="122" height="2" viewBox="0 0 122 2" fill="none">
                                                <path d="M1 1H121" stroke="#DFE0EE" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </div>
                                        <div class="reviews__author">{{ comment.name }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="slider__arrows slider__arrows--reviews reviews__arrows">
                    <button class="slider__arrow slider__arrow--prev" aria-label="Prev button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7076 6.16699L11.0415 12L15.7076 17.833C16.0053 18.205 16.0819 18.7076 15.9086 19.1514C15.7353 19.5953 15.3384 19.9129 14.8674 19.9847C14.3964 20.0566 13.9229 19.8716 13.6252 19.4996L8.29247 12.8333C7.90251 12.3462 7.90251 11.6538 8.29247 11.1667L13.6252 4.50041C14.0854 3.92533 14.9246 3.83221 15.4996 4.29242C16.0747 4.75264 16.1678 5.59191 15.7076 6.16699Z" fill="#050223"/>
                        </svg>
                    </button>
                    <button class="slider__arrow slider__arrow--next" aria-label="Next button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.2924 6.16699L12.9585 12L8.29241 17.833C7.99472 18.205 7.9181 18.7076 8.09141 19.1514C8.26472 19.5953 8.66162 19.9129 9.13262 19.9847C9.60361 20.0566 10.0771 19.8716 10.3748 19.4996L15.7075 12.8333C16.0975 12.3462 16.0975 11.6538 15.7075 11.1667L10.3748 4.50041C9.91464 3.92533 9.07543 3.83221 8.50038 4.29242C7.92534 4.75264 7.83222 5.59191 8.2924 6.16699Z" fill="#050223"/>
                        </svg>
                    </button>
                </div>
            </div>
            <button class="reviews__link" data-modal="review">
                <span>Отправить свой отзыв</span>
            </button>
        </div>
    </div>
</section>