<section class="tasks" x-data="tasks">
    <div class="container">
        <div class="tasks__container dfcs">
            {% if tasks %}
                <div class="tasks__top dfrcsb">
                    <div class="tasks__title">Список задач</div>
                    <button class="tasks__btn btn btn-1" data-modal="create">Создать задачу</button>
                </div>
                <div class="tasks__items dfcs">
                    {% include "parts/task.twig" %}
                </div>
            {% endif %}
        </div>
    </div>
    {% include "modals/create.twig" %}
    {% include "modals/edit.twig" %}
</section>